page-home {
    #container-header{
        text-align: center;
        padding-top:19px;
        font-size: 18px;
       
    }
    #container-hymn-title{
        text-align: center;
        margin-top:19px;
        font-size: 17px;
        font-weight: bold;
    }
    #container-button{
        text-align: center;
        margin-top:25px;
    }
    .collection-title{
        color:#222;
        font-size: 1.1em;
        padding-left:15px;
        font-weight: 10;

    }
    #hymn-badge-ctn{
       padding-bottom:15px;
       white-space: nowrap;
       overflow-x: auto;
       overflow-y: hidden;
    }
    .hymn-badge{
        padding:9px;
        font-size:1em;
        border-radius:50px;
    }

    #top-collections{
        padding: 20px;
        background-color: #f4f4f4;
    }
    .top-collections-icon-border{
        border-radius : 50px; 
        width:50px;
        height: 50px;
        background-color: #3a7bd5;
        border: 2px solid 	#ffffff;
    
        font-size: 0.9em;
        font-weight: 500;
       
        color:#f4f4f4 !important;
      }
      .top-collections-icon{
          font-size:25px;
          vertical-align: middle;
          margin-left: -5px;
          margin-top: -8px;
      }
      .home-slider{
        color:#f4f4f4;
        background-image: url("../assets/imgs/background.jpg");
        overflow: hidden;
      }
    .home-container{
        color:#f4f4f4;
        background-image: url("../assets/imgs/background.jpg");
        overflow: hidden;
    }
    #overlay-div{
        background: rgba(39,62,84,0.82);
        overflow: hidden;
        height: 100%;
        z-index: 2;
    }
    .collections-container-img{
        position: relative;
    }
    .collection-number{
        vertical-align:middle; 
        float:left;
        margin-top:10px;
        padding-right:9px; 
        font-size:1em;
        color:#616161
    }
    .collection-range{
        font-size: 0.9em;
        color: #9e9e9e;
        padding-left: 15px;
    }
    
    div.icon.primary-light{
        background-color:#319BFF;
    }
    .ion-icon-push{
        font-size:1.5em;
        padding-right:15px;
    }
    .myOverlay{
        width: 100%;
        height: 60px;
        position: absolute;
        z-index: 99;
        bottom: 0px;
        opacity: 0.5;
        background: #000;
        color: #fff;
    
    }
}
