page-hymn-detail {
    ion-header{
        background-color: #002e5b;
        color:#f4f4ff;
    }
    #header-details{
        background-color: #002e5b;
        color: #f4f4ff;
    }
    .extra{
        font-size: 1em;
        text-align: center;
    }
    .toolbar-title{
        text-overflow: unset !important;
        overflow:visible;
        margin-left:-70px;
    }
    #image-ctn{
        float: left;
        margin-left:20px;
    }
    #extra-ctn{
        text-align: center;
        width:70%;
        margin-left:25%;
        word-wrap: break-word;
    }

    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;

    }
    .hymn-title{
        margin-bottom: 10px;
        text-align: center;
    }
    .title{
        margin-bottom: 9px;
        margin-top:5px;
        font-size:17px;
        font-weight: 550;
    }
    .verse-ctn{
        margin-top:4px;
        margin-bottom: 20px;
        text-align: center;
    }
    .chorus-ctn{
        margin-top:-16px;
        text-align: center;
    }.chorus-ctn .body{
        font-size: 20px !important;
        font-weight: 300;
    }
    #chorus-ctn{
        margin-bottom: 20px !important;
    }
    .body{
        font-size: 18px;
        line-height: 24px;
    }
}
