page-intro {
    .slide-img{
        margin-top:-20px;
    }
    ion-slide{
        color:#f4f4f4;
        background: -webkit-linear-gradient(#00d2ff,#3a7bd5);
    }
    ion-slide h1{
        font-size: 40px;
    }
    ion-slide h3{
        font-size: 15px;
        padding:9px;
    }
    .spacer{
        height: 13px;
    }
    
}
