page-intro {
    .slide-img{
        margin-top:-20px;
    }
    ion-slide{
        color:#f4f4f4;
        background: -webkit-linear-gradient(#3a7bd5,#002e5b);
    }
    ion-slide h1{
        font-size: 40px;
    }
    ion-slide h3{
        font-size: 15px;
        padding:9px;
    }
    .spacer{
        height: 13px;
    }
    #intro-and{
        font-size: 30px;
        padding-bottom: 100px;
    }
}
